body {
    margin: 0;
    background: url(../img/background.jpg) fixed;
    background-size: cover;
    color: whitesmoke;
}

.header {
    background: rgba(0, 0, 0, 0);
    font-family: Impact;
    font-size: 25pt;
    text-align: center;
    color: darkred;
}

.menu {
    background: rgba(0, 0, 0, 0.500);
    float: left;
    border: solid 2.5px darkred;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    width: 140px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    padding: 10px;
}

#m-PT {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium';
    font-size: 13pt;
}

.content {
    padding-right: 15%;
    text-align: center;
    font-family: monospace;
    font-size: 15pt;
}

#peoplemarket {
    color: red;
}

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgb(20, 20, 20);
    padding: 15px;
    position: fixed;
}

#footer-content {
    text-align: start;
    font-family: 'Franklin Gothic Medium';
    font-size: 12pt;
}

#gh-img,
#vk-img,
#sd-img {
    width: 20px;
}

#github {
    text-align: center;
}